/* Name: Red
Hex: #FF0000
RGB: (255, 0, 0)
CMYK: 0, 1, 1, 0

BOSTON UNIVERSITY RED
Name: Boston University Red
Hex: #CC0000
RGB: (204, 0, 0)
CMYK: 0, 1, 1, 0.2

CERULEAN BLUE
Name: Cerulean Blue
Hex: #3B4CCA
RGB: (59, 76, 202)
CMYK: 0.707, 0.623, 0, 0.207

GOLDEN YELLOW
Name: Golden Yellow
Hex: #FFDE00
RGB: (255, 222, 0)
CMYK: 0, 0.129, 1, 0

GOLD FOIL
Name: Gold Foil
Hex: #B3A125
RGB: (179, 161, 37)
CMYK: 0, 0.100, 0.793, 0.298 */

:root {
    --goldFoil :#B3A125;
    --goldenYellow : #FFDE00;
    --ceruleanBlue : #3B4CCA;
    --universityRed : #8d0707;
    --red : #FF0000;
}

html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    padding: .3em;
    display: flex;
    flex-flow: row, wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid var(--universityRed);
    border-bottom: 5px double var(--universityRed);
    background-color: var(--red);
    padding: .3em 1em;
}

.pokemans {
    font-family: 'Pokemon Solid', sans-serif;
    margin-top: -1.5em;
    margin-bottom: -1em;
    color: var(--goldenYellow);
    text-shadow: -1px 2px #3B4CCA;
    -webkit-text-stroke: 1px var(--ceruleanBlue);
    font-size: 1.5em;
}

.searchbar {
    display: inline-flex;
    width: auto;
    flex-grow: 1;
    margin: 0 1.5em;
}

.wrapper {
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    padding: 1em;
}

.top-panel-toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;

    color: black;
    background-color: var(--goldenYellow);
    border: none;
    border-radius: 0 0 5px 5px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .35);
}

.top-panel-toggle:hover {
    background-color: var(--goldFoil);
}

.tp-icon-open {
    display: none !important;
}

.top-panel {
    display: none;
    height: 200px;
    padding: 20px;
    background-color: var(--goldenYellow);
    color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .35);
}


.top-panel-open .top-panel {
    display: initial;
}

.side-panel-open .tp-icon-open {
    display: initial !important;
}

.side-panel-open .tp-icon-close {
    display: none !important;
}
